/*
amber: #FFBF00
green: #238823
dark green: #007000
forest green: #238823
*/


.cpu {
  width: auto;
  height: 50px;
  border: 1px solid white;
  background-color: #000;
  border: 10px solid #000;
  display: flex;
  flex-wrap: wrap;
}

